data/commuter-jt00.csv
data/commuter_data.xlsx
commuters_2016.csv
data/desktop.ini
/figs
/paper
NIH_IDC.Rmd
NIH_terminated.Rmd
.RDataTmp
.RDataTmp1
.Rhistory
data/NIH_prior.csv  
data/NIH_raw.csv  
data/OD_tract-to-county_2016.csv  
output/county_commute_NIH.csv  
output/county_commute_NIH_county2county.csv

