data/commuter-jt00.csv
data/NIH_raw.csv
data/commuter_data.xlsx
commuters_2016.csv
data/desktop.ini
data/NIH_prior.csv
NIH_analysis.Rmd
/figs
/paper
NIH_IDC.Rmd
NIH_terminated.Rmd
.RDataTmp
.RDataTmp1
.Rhistory
output/county_commute_NIH.csv
output/county_commute_NIH.csv
